*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.navbar{
    display: flex;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.472);
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: 100%;
}
.menu ul li a{
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
#home{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
    
}
.menu ul li a:hover{
    color: blue;
    transition: 0.3s;
}
.hero {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.profile{
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
}
.social{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    left: 10vw;
    width: 30%;
}
.social i:hover{
    color: blue;
    scale: 1.5;
    transition: 0.3s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in;
}
.image{
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
}
.profile h1{
    font-size: 3rem;
    color: #000;
}
.profile a{
    text-decoration: none;
    width: 150px;
    margin-top: 50px;
    color: #000;
    font-size: 1.2rem;
    padding: 10px 25px;
    background-color: blue;
    border-bottom: 2px solid blue;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.profile a:hover{
    border-bottom: 2px solid red;
    transition: 0.5s;
}
.image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mask-image: url('Shape.png');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}
